{% assign max = slider.options | last %}
<div class="calculator__slider">
  <label for="{{slider.id}}">{{ slider.name }}</label>
  <input
    type="range"
    id="{{slider.id}}"
    name="{{slider.name}}"
    list="{{slider.name}}-markers"
    max="{{ max.value }}"
    value="{{slider.value}}"
    class="data calculator__data" />
  <datalist class="calculator__datalist" id="{{name}}-markers">
    {% for option in slider.options %}
      <option value="{{option.value}}" label="{{option.label}}"></option>
    {% endfor %}
  </datalist>
</div>